<!-- INCLUDE mcp_header.html -->
<table cellpadding="2" cellspacing="0" border="0" width="100%" align="center">
<tr><td><font face="verdana, arial, helvetica" size="2"><b>{L_MCP}</b></font></td></tr>
</table>
<table cellpadding="4" cellspacing="1" border="0" width="100%" bgcolor="3E4637">
<tr bgcolor="#3E4637">
    <td><font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>{L_LATEST_REPORTED}</b></font></td>
</tr>
<!-- BEGIN report -->
<tr>
    <td bgcolor="#545F4E"><font face="verdana, arial, helvetica" size="2"><a href="{report.U_POST_DETAILS}#reports">{report.SUBJECT}</a> - {report.REPORTER_FULL}</font></td>
</tr>
<!-- END report -->
</table>
<!-- INCLUDE mcp_footer.html -->
