<!-- INCLUDE overall_header.html -->
<table bgcolor="#626d5c" width="800" cellpadding="10" cellspacing="0" border="0">
<tr><td>
<table cellpadding="2" cellspacing="0" border="0" width="100%" align="center">
<tr>
        <td><img src="{T_THEME_PATH}/images/vb_bullet.gif" alt="" align="middle"> <font face="verdana, arial, helvetica" size="2"><b>{L_VIEWING_PROFILE}</b></font></td>
</tr>
</table>
<table cellpadding="4" cellspacing="1" border="0" width="100%" bgcolor="3E4637">
<tr bgcolor="#3E4637" id="cat" align="center">
        <td colspan="2"><font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>{L_USER_PROFILE}</b></font></td>
</tr>
<tr>
        <td bgcolor="#545F4E" width="30%"><font face="verdana, arial, helvetica" size="2">{L_USERNAME}</font></td>
        <td bgcolor="#545F4E"><font face="verdana, arial, helvetica" size="2">{USERNAME}</font></td>
</tr>
<tr>
        <td bgcolor="#626d5c" width="30%"><font face="verdana, arial, helvetica" size="2">{L_INTERESTS}</font></td>
        <td bgcolor="#626d5c"><font face="verdana, arial, helvetica" size="2">{INTERESTS}</font></td>
</tr>
<tr>
        <td bgcolor="#545F4E" width="30%"><font face="verdana, arial, helvetica" size="2">{L_OCCUPATION}</font></td>
        <td bgcolor="#545F4E"><font face="verdana, arial, helvetica" size="2">{OCCUPATION}</font></td>
</tr>
<tr>
        <td bgcolor="#626d5c"><font face="verdana, arial, helvetica" size="2">{L_TOTAL_POSTS}</font></td>
        <td bgcolor="#626d5c"><font face="verdana, arial, helvetica" size="2">{POSTS}</font></td>
</tr>
<tr>
        <td bgcolor="#545F4E"><font face="verdana, arial, helvetica" size="2">{L_JOINED}</font></td>
        <td bgcolor="#545F4E"><font face="verdana, arial, helvetica" size="2">{JOINED}</font></td>
</tr>
<tr>
        <td bgcolor="#626d5c"><font face="verdana, arial, helvetica" size="2">{L_LAST_ACTIVE}</font></td>
        <td bgcolor="#626d5c"><font face="verdana, arial, helvetica" size="2">{LAST_ACTIVE}</font></td>
</tr>
<tr>
        <td bgcolor="#545F4E"><font face="verdana, arial, helvetica" size="2">{L_EMAIL_ADDRESS}</font></td>
        <td bgcolor="#545F4E"><font face="verdana, arial, helvetica" size="2"><a href="{U_EMAIL}">{L_SEND_EMAIL_USER}</a></font></td>
</tr>
<tr>
        <td bgcolor="#626d5c"><font face="verdana, arial, helvetica" size="2">{L_PM}</font></td>
        <td bgcolor="#626d5c"><font face="verdana, arial, helvetica" size="2"><a href="{U_PM}">{L_SEND_PRIVATE_MESSAGE}</a></font></td>
</tr>
</table>
</td></tr></table>
<!-- INCLUDE overall_footer.html -->
