<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<!-- no cache headers -->
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<!-- end no cache headers -->
<meta name="keywords" content="vbulletin,forum,bbs,discussion,jelsoft">
<meta name="description" content="Steam Users Forums is a discussion forum powered by vBulletin.">
<title>{SITENAME} - {PAGE_TITLE}</title>
<meta http-equiv="MSThemeCompatible" content="Yes">
<link href="{T_STYLESHEET_LINK}" rel="stylesheet">
<link href="{T_STYLESHEET_LANG_LINK}" rel="stylesheet">
</head>
<body bgcolor="#626d5c" text="#000000" leftmargin="10" topmargin="10" marginwidth="10" marginheight="10" link="#000020" vlink="#000020" alink="#000020">
<center>
       <table border="0" width="90%" cellpadding="0" cellspacing="0">
               <tr>
                       <td align="center"><img src="{T_THEME_PATH}/images/Steam_header2.jpg" alt="Steam header"></td>
               </tr>
               <tr height="10"><td></td></tr>
               <tr>
                       <td align="center">
                               <a href="{U_PROFILE}"><img src="{T_THEME_PATH}/images/top_profile.gif" alt="Profile" /></a>
                               <a href="{U_REGISTER}"><img src="{T_THEME_PATH}/images/top_register.gif" alt="Register" /></a>
                               <a href="{U_MEMBERLIST}"><img src="{T_THEME_PATH}/images/top_members.gif" alt="Members" /></a>
                               <a href="{U_FAQ}"><img src="{T_THEME_PATH}/images/top_faq.gif" alt="FAQ" /></a>
                               <a href="{U_SEARCH}"><img src="{T_THEME_PATH}/images/top_search.gif" alt="Search" /></a>
                               <a href="{U_INDEX}"><img src="{T_THEME_PATH}/images/top_home.gif" alt="Home" /></a>
                       </td>
               </tr>
       </table>
</center>
