<!-- INCLUDE ucp_header.html -->
<table cellpadding="2" cellspacing="0" border="0" width="100%" align="center">
<tr>
    <td><font face="verdana, arial, helvetica" size="2"><b>{L_TITLE}</b></font></td>
</tr>
</table>
<table cellpadding="4" cellspacing="1" border="0" width="100%" bgcolor="3E4637">
<tr bgcolor="#3E4637" id="cat">
    <td><font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>{L_YOUR_DETAILS}</b></font></td>
</tr>
<tr>
    <td bgcolor="#545F4E"><font face="verdana, arial, helvetica" size="2">{L_JOINED} {JOINED}</font></td>
</tr>
<tr>
    <td bgcolor="#626d5c"><font face="verdana, arial, helvetica" size="2">{L_LAST_ACTIVE} {LAST_VISIT_YOU}</font></td>
</tr>
<tr>
    <td bgcolor="#545F4E"><font face="verdana, arial, helvetica" size="2">{L_TOTAL_POSTS} {POSTS}</font></td>
</tr>
</table>
<!-- INCLUDE ucp_footer.html -->
