<!-- INCLUDE overall_header.html -->

<table cellpadding="2" cellspacing="0" border="0" width="100%">
<tr valign="top">
    <td><img src="data:image/gif;base64,R0lGODlhDwAPAMQAAAAAAP/////3mcPLvG52Z05WR2pqdCUtHjE5KjtDNE1VRlRcTVtjVGNrXGpyY3R8bZKai5ujlKevoLC4qcDIubnBssrSw3yEdIyRe/72mfbule3mkeHajM3Hg8S/gP///yH5BAEAAB8ALAAAAAAPAA8AAAWS4AeMZEmK06CuTnsN00hJNH0xmpVM13glQODiIqgkJD2AgcPkYBAYQQSBHBk0gqwn4RE8FJHHqMFgPAScBEewIEAII0mjgdhoHJlN4gJxxDFPHQISGR1QGA0jERcXBxECWBEHjIkAixcIRFmYjAwjEA8PBQsbpQsKoQufBKwHrq6sBAUjDgW2CrgKtrsAIia/vSEAOw==" alt="" /> <strong>{SITENAME}</strong></td>
    <td align="right"><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_NEW}</a></td>
</tr>
</table>

<table cellpadding="2" cellspacing="0" border="0" width="100%">
<tr>
    <td colspan="2">Welcome to the Steam Users Forums.</td>
</tr>
</table>

<!-- INCLUDE forumlist_body.html -->

<!-- INCLUDE overall_footer.html -->
