<!-- INCLUDE overall_header.html -->
<h2 class="profile-title">{L_VIEWING_PROFILE}</h2>
<table class="table1" cellspacing="1" cellpadding="4" width="100%">
<tr class="bg3">
    <td colspan="2">{PROFILE_USERNAME}</td>
</tr>
<tr class="bg1">
    <td width="40%">{L_JOINED}{L_COLON}</td>
    <td>{JOINED}</td>
</tr>
<tr class="bg2">
    <td>{L_TOTAL_POSTS}{L_COLON}</td>
    <td>{POSTS}</td>
</tr>
<tr class="bg1">
    <td>{L_LOCATION}{L_COLON}</td>
    <td>{LOCATION}</td>
</tr>
<tr class="bg2">
    <td>{L_WEBSITE}{L_COLON}</td>
    <td>{WEBSITE}</td>
</tr>
</table>
<!-- INCLUDE overall_footer.html -->
