<div class="navbar" role="navigation">
    <div class="inner">
        <div id="vb-nav">
            <a href="{U_PROFILE}"><img src="data:image/gif;base64,R0lGODlhNQAZAKIEAIGNfSM1Kb+6UExYRP///wAAAAAAAAAAACH5BAEAAAQALAAAAAA1ABkAAAOLSLrc/jDKSaslIOvNu/+gFwBDaZ5oqq5sOrZwLKPvbN80iQonj6eCYKzWK/6MAx+LaFImm8JS9Ol8AqcmptRY9Xmr1t32pA2Hp8Eo2NwcZ3VItlesUs7Z5WQa6tyze2hYJXlHN2sDhIUzh4mKigGQkZKTlJWWl5cXmpucnZ6foKGio6SlpqeoqaoECQA7" alt="{L_PROFILE}" /></a>
            <!-- IF not S_USER_LOGGED_IN -->
            <a href="{U_REGISTER}"><img src="data:image/gif;base64,R0lGODlhNQAZAKIEAIGNfSM1Kb+6UExYRP///wAAAAAAAAAAACH5BAEAAAQALAAAAAA1ABkAAAOPSLrc/jDKSaslIOvNu/+gFwBDaZ5oqq5sOrZwLKPvbN80iQq8YPs4Ve0EHBSDpWNsaCo6j71kk2eMVpvGEzNpzXqBYCkR+1Vus1Br2HsVV6ls03kd/7rFzp1LN3Z31VxpgXclZzdKSFp8OHCJQouOkVoBlJWWl5iZmpuaF56foKGio6SlpqeoqaqrrK2uBAkAOw==" alt="{L_REGISTER}" /></a>
            <!-- ENDIF -->
            <a href="{U_MEMBERLIST}"><img src="data:image/gif;base64,R0lGODlhNQAZAKIEAIGNfSM1Kb+6UExYRP///wAAAAAAAAAAACH5BAEAAAQALAAAAAA1ABkAAAOPSLrc/jDKSaslIOvNu/+gFwBDaZ5oqq5sOrZwLKPvLAu2WpcCzvs2YM60G/RMx5xwOCjinkYksPecJn/IqPHqjEK1vjBvDCYnl01Strw9m99tsfTUZS/lePL6BKzvqXBhV216gERqTIkxRYqNLoiOkUQBlJWWl5iZmpuaF56foKGio6SlpqeoqaqrrK2uBAkAOw==" alt="{L_MEMBERLIST}" /></a>
            <a href="{U_FAQ}"><img src="data:image/gif;base64,R0lGODlhNQAZAKIEAL+6UIGNfSM1KUxYRP///wAAAAAAAAAAACH5BAEAAAQALAAAAAA1ABkAAAN9SLrc/jDKSaslIevNu/+gJwRDaZ5oqq5sOrZwLKPvbN80aQM8X/qnHm5QmwFSwJ/peCvKmEvlACqdOWM9prbKjV1h1KyPOm3qjMF0ues9P9VVIe47XJFl9LoqiXfr/y4CgoOEhYaHiImIF4yNjo+QkZKTlJWWl5iZmpucBAkAOw==" alt="{L_FAQ}" /></a>
            <a href="{U_SEARCH}"><img src="data:image/gif;base64,R0lGODlhNQAZAKIEAIGNfSM1Kb+6UExYRP///wAAAAAAAAAAACH5BAEAAAQALAAAAAA1ABkAAAOFSLrc/jDKSaslIOvNu/+gFwBDaZ5oqq5sOrZwLKPvbLMCXK9Cf7e51i4VHBR/qKNqmFT5TM9SLtijRl0kXJTalHJPX6zMut1Cu0oTE3w2ottudlysPVahZvw3XVoj/yt+gINqWYSHJwGKi4yNjo+QkZEXlJWWl5iZmpucnZ6foKGio6QECQA7" alt="{L_SEARCH}" /></a>
            <a href="{U_INDEX}"><img src="data:image/gif;base64,R0lGODlhNQAZAKIEAL+6UIGNfSM1KUxYRP///wAAAAAAAAAAACH5BAEAAAQALAAAAAA1ABkAAAOBSLrc/jDKSaslIevNu/+gJwRDaZ5oqq5sOrZwLKPvbN80CQMnj9u1lq80/MWCrOIQoGQOnCZoC7liWn3YKHH75LKoKiV3OSZaYeCUuMtmZ9tonbAXXb+f0lXayM/1/3pygIMDAoaHiImKi4yNjReQkZKTlJWWl5iZmpucnZ6foAQJADs=" alt="{L_INDEX}" /></a>
        </div>
    </div>
</div>
