<!-- INCLUDE overall_header.html -->
<h2 class="search-title">{L_SEARCH}</h2>
<form method="get" action="{S_SEARCH_ACTION}">
<table class="table1" cellspacing="1" cellpadding="4" width="100%">
<tr class="bg3">
    <td colspan="2">{L_SEARCH_QUERY}</td>
</tr>
<tr class="bg1">
    <td width="30%">{L_SEARCH_KEYWORDS}{L_COLON}</td>
    <td><input type="text" name="keywords" size="40" class="inputbox" /></td>
</tr>
<tr class="bg2">
    <td colspan="2" align="center"><input type="submit" value="{L_SEARCH}" class="button1" /></td>
</tr>
</table>
</form>
<!-- INCLUDE overall_footer.html -->
